<h2>Sign Up</h2>

<form class="sign-up-form" action="<%= users_url %>" method="post">
  <%= auth_token_input %>

  <label for="user_username">
    Username
    <input
      type="text"
      name="user[username]"
      id="user_username"
      value="<%= @user.username %>"
  </label>

  <label for="user_password">
    Password
    <input
      type="password"
      name="user[password]"
      id="user_password"
      value="<%= @user.password %>"
  </label>

  <input type="submit" value="Sign Up">
</form>
