/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 ``* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, div, ul, li, p, h1, select, input, a {
  padding: 0;
  margin: 0;
  border: 0;

  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;

  background: transparent;
}

html {
  font-family: Source Sans Pro,Helvetica,Arial,Geneva,sans-serif;
}

body {
  background: white;
  width: 980px;
  margin: auto;
  font-family: Source Sans Pro,Helvetica,Arial,Geneva,sans-serif;
}

ul, li {
  list-style: none;
}

input {
  border: 1px solid black;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}
.false {
  display: none;
}

.true {
  display: block;
}
/*profile page*/

.background {
  opacity: 0.2;
  background: url(image_path('background.jpg'));
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-color:rgba(0, 0, 0, 0.5)
}

@keyframes fadein {
  0%   { opacity: .9; }
  100% { opacity: .2; }
}

.splash-page {
  animation: fadein 4s;
}

.property-list {
  /*border: 5px solid black;*/
}

.splash-header {
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 0px;
}

.photo-container {
  height: 400px;
  width: 60%;
  float: left;
}

.Photo-component {
  border: 1px solid black;
}

.detail-container {
  width: 40%;
  float: right;
}

.profile-page {
  width: 980px;
  margin: auto;
}

.User-info-listing {
  border: 5px solid gold;
  width: 50%;
  float: left;
  padding: 10px;
}

.User-info-listing div{
  margin: 10px 0px;
  border: 1px solid black;
  text-align: center;
}

.Property-map-detail {
  border: 5px solid brown;
  width: 40%;
  float: right;
  padding: 10px
}

.Property-map-detail div{
  text-align: center;
  margin: 10px 0px;
  border: 1px solid black;
}

.Header-component {
  text-align: center;
  display: block;
  background: #ccc;
  height: 100px;
  margin: 10px 10px;
}

.UserInformation-component {
  height: 100px;
  display: block;
  background: #ccc;
}

.MyListings-component {
  display: block;
  background: #ccc;
  height: 300px;
}

.MySavedList-component {
  display: block;
  background: #ccc;
  height: 300px;
}
