/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, div, ul, li, p, h1, select, input {
  padding: 0;
  margin: 0;
  border: 0;

  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;

  background: transparent;
}

html {
  font-family: Source Sans Pro,Helvetica,Arial,Geneva,sans-serif;
}

body {
  width: 980px;
  margin: auto;
  font-family: Source Sans Pro,Helvetica,Arial,Geneva,sans-serif;
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

/*header*/

.page-title {
  text-align: center;
}

.app-header {
  border-bottom: 4px solid #1a1f2c;
  color: #0080c6;
}

.sign-up-sign-in {
  display: block;
  float: right;
}

.header-list li {
  padding: 0px 14px 0px 7px;
}

.header-list li:hover {
  color: #004c75;
}

.sign-in:hover {
  color: #004c75;
}

.register-link {
  margin-left: 10px;
  border: 1px solid #fdc435;
  line-height: 19px;
  float: right;
}

.register-link:hover {
  background: #fdc435;
}

.register {
  display: block;
  color: black;
  font-size: 12px;
  padding: 0px 10px;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}

.sign-in {
  text-decoration: none;
  display: block;
  font-size: 14px;
  color: #0080c6;
  float: left;
}

.header-list {
  float: right;
}

.header-list > li {
  float: left;
}

.app-logo {
  float: left;
  font-size: 38px;
}

/*root page*/
.search-form {
  font-size: 14px;
  width: 640px;
}

.search-form input {
  color: #1a1f2c;
  height: 39px;
}

.search-location-container {
  margin: 0px 5px;
}

.search-location-container > * {
  width: 500px;
}

.search-location {
  display: block;
}

.search-location > * {
  width: 464px;
}

.search-row > * {
  display: block;
  float: left;
}

.search-row select {
  height: 45px;
  width: 130px;
  border: 1px solid #1a1f2c;
}

.search-price {
  width: 300px;
  display: block;
}

.search-bedrooms {
  display: block;
  width: 140px;
}

.search-bathrooms {
  display: block;
  width: 150px;
}

.search-button {
  float: right;
}

/*result page*/
.result-header-component {
  font-size: 38px;
}

.result-header-options-component {
  padding: 10px 0px;
  font-size: 14px;
}

.refine-search-button {
  display: inline-block;
  padding: 7px 13px;
  border: 1px solid #0080c6;
  color: #0080c6;
  background-color: white;
  text-transform: uppercase;
}

.result .map {
  display: block;
  border: 1px solid black;
  width: 300px;
  height: 310px;
  height: 330px;
  float: right;
}

.result .property-list {
  /*border: 3px solid red;*/
  width: 66.66%;
  float: left;
}

.result .property-list-item {
  padding: 14px 0px;
  border-top: 1px solid #1a1f2c;
  height: 100%;
}

.result .property-list-item:hover {
  background-color: red;
}

.result .property-image {
  border: 3px solid blue;
  width: 165px;
  float: left;
}

.result .detail-component {
  padding-left: 14px;
  width: 440px;
  float: right;
}

.detail-title {
  color: #0080c6;
  font-size: 18px;
}

.detail-price {
  margin-top: 6px;
}

.detail-info {
  border-top: 1px solid #e5e5e5;
  margin: 3px 0px;
  padding: 3px;
}

.detail-info p{
}

.detail-info span{
  padding: 0px 10px;
  border-right: 1px solid #e5e5e5;
  color: #1a1f2c;
  font-size: 16px;
}

/*profile page*/

.property-list {
  /*border: 5px solid black;*/
}

.photo-container {
  height: 400px;
  width: 60%;
  float: left;
}

.Photo-component {
  border: 1px solid black;
}

.detail-container {
  width: 40%;
  float: right;
}

.profile-page {
  width: 980px;
  margin: auto;
}

.User-info-listing {
  border: 5px solid gold;
  width: 50%;
  float: left;
  padding: 10px;
}

.User-info-listing div{
  margin: 10px 0px;
  border: 1px solid black;
  text-align: center;
}

.Property-map-detail {
  border: 5px solid brown;
  width: 40%;
  float: right;
  padding: 10px
}

.Property-map-detail div{
  text-align: center;
  margin: 10px 0px;
  border: 1px solid black;
}

.Header-component {
  text-align: center;
  display: block;
  background: #ccc;
  height: 100px;
  margin: 10px 10px;
}

.UserInformation-component {
  height: 100px;
  display: block;
  background: #ccc;

}

.MyListings-component {
  display: block;
  background: #ccc;
  height: 300px;
}

.MySavedList-component {
  display: block;
  background: #ccc;
  height: 300px;
}

/*.Map-component {
  display: block;
  background: #ccc;
  height: 500px;

}*/
