.page-title {
  text-align: center;
}

.app-header {
  border-bottom: 4px solid #1a1f2c;
  color: #0080c6;
}

.sign-up-sign-in {
  display: block;
  float: right;
}

.header-list li {
  padding: 0px 14px 0px 7px;
}

.header-list li:hover {
  color: #004c75;
}

.sign-in:hover {
  color: #004c75;
}

.register-link {
  margin-left: 10px;
  border: 1px solid #fdc435;
  line-height: 19px;
  float: right;
}

.register-link:hover {
  background: #fdc435;
}

.register {
  display: block;
  color: black;
  font-size: 12px;
  padding: 0px 10px;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}

.sign-in {
  text-decoration: none;
  display: block;
  font-size: 14px;
  color: #0080c6;
  float: left;
}

.header-list {
  float: right;
}

.header-list > li {
  float: left;
}

.app-logo {
  float: left;
  font-size: 38px;
}
