.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.7);
}

.search-modal {
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  width: 660px;
  color: #1a1f2c;
  margin-left: -320px;
  transform: translateY(-50%);
  background: white;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0 3px 9px rgba(0,0,0,0.5);
  background-clip: padding-box;
}

.sign-in-up-modal {
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  width: 350px;
  color: #1a1f2c;
  margin-left: -175px;
  transform: translateY(-50%);
  background: white;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0 3px 9px rgba(0,0,0,0.5);
  background-clip: padding-box;
}

.search-form-modal {
  padding: 15px;
}

.sign-in-up-form-modal {
  padding: 15px;
}

.sign-in-up-form-modal input {
  border: 1px solid #ccc;
  margin-bottom: 15px;
  padding: 7px;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  height: 40px;

}

.search-modal-navbar {
  background-color: #0080c6;
  border-color: #0080c6;
  border-bottom: 1px solid #e5e5e5;
  color: white;
  text-align: center;
  min-height: 31px;
}

.sign-in-up-modal-navbar {
  background-color: #0080c6;
  border-color: #0080c6;
  border-bottom: 1px solid #e5e5e5;
  color: white;
  text-align: center;
  min-height: 31px;
}

.search-modal-navbar > * {
  padding: 14px 15px;
}

.modal-tabs-container {
  margin-bottom: 20px;
  text-align: center;
  width: auto;
  line-height: 40px;
  font-size: 14px;
}

.modal-tabs-container > * {
  padding: 0px 15px;
  border: 1px solid #ccc;
  text-transform: uppercase;
}

.register-tab {
  margin-top: 20px;
  display: inline-block;
}

.signIn-tab {
  display: inline-block;
}

.sign-up-page button {
  margin-bottom: 7px;
}

.submit-button {
  width: 100%;
  height: 40px;
  text-transform: uppercase;
  border: solid 1px #0080c6;
  background-color: #0080c6;
  color: white;
}

.new-user-text {
  text-align: center;
  font-size: 13px;
  line-height: 1.6em;
}

.search-modal-navbar-left {
  float: left;
  display: block;
  text-transform: uppercase;
  /*position: absolute;*/
}

.search-modal-navbar-right {
  float: right;
  display: block;
  text-transform: uppercase;
}

.search-modal-navbar-middle {
  display: inline-block;
  font-size: 18px;
}
