.search-form {
  font-size: 14px;
  width: 640px;
}

.search-form input {
  color: #1a1f2c;
  height: 39px;
}

.search-location-container {
  margin: 0px 5px;
}

.search-location-container > * {
  width: 500px;
}

.search-location {
  display: block;
}

.search-location > * {
  width: 464px;
}

.search-row > * {
  display: block;
  float: left;
}

.search-row > div {
  padding: 10px;
}

.search-row select {
  height: 45px;
  width: 130px;
  border: 1px solid #1a1f2c;
}

.search-price {
  width: 300px;
  display: block;
}

.search-bedrooms {
  display: block;
  width: 140px;
}

.search-bathrooms {
  display: block;
  width: 140px;
}

.search-button {
  float: right;
  padding: 0px 20px;
  line-height: 40px;
  color: white;
  border: 1px solid #0080c6;
  background-color: #0080c6;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: normal;
  font-family: Source Sans Pro,Helvetica,Arial,Geneva,sans-serif;

}
