.search-form {
  font-size: 14px;
  width: 640px;
}

.search-form input {
  color: #1a1f2c;
  height: 39px;
}

.search-location-container {
}

.search-location-container > * {
  width: 460px;
  padding: 0px 10px;
}

.search-location {
  display: block;
}

.search-location > * {
  width: 464px;
}

.search-row label {
  padding: 7px 0px;
}

.search-row > * {
  display: block;
  float: left;
  padding-right: 10px;
}

.search-row > div {
  margin-top: 7px;
  box-sizing: border-box;
}


.search-row select {
  height: 45px;
  width: 100%;
  border: 1px solid #1a1f2c;
}

.search-row .between-price {
  padding: 5px;
}

.search-price {
  width: 300px;
  display: block;
}

.search-row .price-params {
  width: 140px;
}

.search-bedrooms {
  display: block;
  width: 140px;
}

/*.search-bedrooms select {
  display: block;
  width: 140px;
}*/

.search-bathrooms {
  display: block;
  width: 150px;
}

.search-button {
  float: right;
  padding: 0px 20px;
  line-height: 40px;
  color: white;
  border: 1px solid #0080c6;
  background-color: #0080c6;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: normal;
  font-family: Helvetica,Arial,Geneva,sans-serif;
  cursor: pointer;

}
