.left-three-fifths {
  box-sizing: border-box;
  width: 60%;
  float: left;
  height: auto;
  display: block;
}

.thumb-photos {
  border-bottom: 3px solid black;
  display: block;
  padding-bottom: 20px;
  padding-top: 5px;
}
/*.right-two-fifths {
  box-sizing: border-box;
  width: 40%;
  float: left;
}*/

.slide-show .thumb {
  box-sizing: border-box;
  border: 3px solid transparent;
  width: 41px;
  height: 40px;
  float: left;
  display: block;
}

.thumb:hover {
  border: 3px solid #0080c6;
}

.property-page .slide-show {
  padding-right: 14px;
  box-sizing: border-box;
  width: 100%;
  float: left;
  height: auto;
}

.description {
  display: block;
  float: left;
}
