<div class="profile-page group">
  <h1 class="page-title"> <%= @user.username %>'s Profile Page </h1>
  <div class="Header-component">Header Component</div>

  <div class="User-info-listing ">
    <div class="UserInformation-component">UserInformation Component</div>
    <div class="MyListings-component">MyListings Component</div>
    <div class="MySavedList-component">MySavedList Component</div>
  </div>

  <div class="Property-map-detail">
    <div class="Map-component">Map Component</div>
    <div class="Detail-component">Detail Component</div>
  </div>
</div>
